In [1]:
"""
1.
Напишите функцию для разделения строки и преобразования ее в список
слов. Пример "Robin Singh" ==> ["Robin", "Singh"]
"""
def split_to_words(input_str: str) -> list:

    return input_str.split()


split_to_words("Robin Singh")

['Robin', 'Singh']

In [2]:
"""
1.
Если надо почистить слова и убрать знаки припинания:
Пример "Robin, Singh!" ==> ["Robin", "Singh"]
"""
import string as s

def split_to_words_no_puctuation(input_str: str) -> list:

    punctuation = s.punctuation
    no_punctuation_string = ''.join(char for char in input_str if char not in punctuation)

    return no_punctuation_string.split()


split_to_words_no_puctuation('Robin : Singh!')

['Robin', 'Singh']

In [3]:
import math
"""
2.
Натан любит кататься на велосипеде. Поскольку Натан знает, как важно
избегать обезвоживания, он выпивает 0,5 литра воды за час езды на
велосипеде. Вам дано время в часах, и вам нужно вернуть количество
литров, которое выпьет Натан, округленное до наименьшего значения.
Пример time = 3 ----> litres = 1
"""
def get_water_volume(hours: int, consumption: float = 0.5) -> int:

    return math.floor(hours * consumption)


print(get_water_volume(3))
print(get_water_volume(8, 0.4))

1
3

In [4]:
"""
3.
Создайте функцию, которая возвращаетсписок целых чисел от n до 1, где n>0. Пример: n=5-->[5,4,3,2,1]
"""
def get_numbers_as_list(number: int) -> list:

    return [number for number in range(number, 0, -1)]

print(get_numbers_as_list(5))
print(get_numbers_as_list(20))

[5, 4, 3, 2, 1]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
"""
4.
Учитывая год, верните столетие, в котором он находится. Пример 1705 -> 18, 1900 -> 19 1601 -> 17
"""
def get_century(year) -> int:
    return (year - 1) // 100 + 1

print(get_century(1705))
print(get_century(1900))
print(get_century(1601))

"""
Python один из немногих языков программирования, который правильно с математи-
ческой точки зрения выполняет остаток от деления отрицательного числа данный
пример работает благодаря этому и с отрицательными числами.
"""
print(get_century(-101))

18
19
17
-1

In [6]:
"""
5.
Учитывая случайное неотрицательное число, вам необходимо вернуть
цифры этого числа в массиве в обратном порядке. 35231 => [1,3,2,5,3]
"""
def reverse_to_list(number: int) -> list:
    return [int(digit) for digit in str(number)[::-1]]

reverse_to_list(35231)

[1, 3, 2, 5, 3]

In [7]:
"""
6.1
"""
def get_matrix(size: int):
    matrix = []

    for i in range(size):
        inner_matrix = []

        for j in range(size):
            if j % 2 == 0:
                number = j // 2 * 2 * size + i + 1
            else:
                number = (j // 2 + 1) * 2 * size - i
            inner_matrix.append(number)

        matrix.append(inner_matrix)

    return matrix

get_matrix(11)

[[1, 22, 23, 44, 45, 66, 67, 88, 89, 110, 111],
 [2, 21, 24, 43, 46, 65, 68, 87, 90, 109, 112],
 [3, 20, 25, 42, 47, 64, 69, 86, 91, 108, 113],
 [4, 19, 26, 41, 48, 63, 70, 85, 92, 107, 114],
 [5, 18, 27, 40, 49, 62, 71, 84, 93, 106, 115],
 [6, 17, 28, 39, 50, 61, 72, 83, 94, 105, 116],
 [7, 16, 29, 38, 51, 60, 73, 82, 95, 104, 117],
 [8, 15, 30, 37, 52, 59, 74, 81, 96, 103, 118],
 [9, 14, 31, 36, 53, 58, 75, 80, 97, 102, 119],
 [10, 13, 32, 35, 54, 57, 76, 79, 98, 101, 120],
 [11, 12, 33, 34, 55, 56, 77, 78, 99, 100, 121]]

In [8]:
"""
6.2
"""
def get_matrix_2(size: int):
    matrix = []
    counter = 1

    for i in range(size):
        inner_matrix = []

        for j in range(size):
            inner_matrix.append(counter)
            counter += 1
        if i % 2 == 1:
            inner_matrix.reverse()
        matrix.append(inner_matrix)

    return matrix

get_matrix_2(5)

[[1, 2, 3, 4, 5],
 [10, 9, 8, 7, 6],
 [11, 12, 13, 14, 15],
 [20, 19, 18, 17, 16],
 [21, 22, 23, 24, 25]]