In [29]:
import sqlalchemy as db
from sqlalchemy import Column, Integer, Text, ForeignKey, func

In [2]:
engine = db.create_engine('sqlite:///mydb.db')
conn = engine.connect()
metadata = db.MetaData()

In [3]:
owners = db.Table(
    'owner', metadata,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('first_name', Text),
    Column('last_name', Text),
    Column('phone', Text),
    Column('email', Text)
)
owners

Table('owner', MetaData(), Column('id', Integer(), table=<owner>, primary_key=True, nullable=False), Column('first_name', Text(), table=<owner>), Column('last_name', Text(), table=<owner>), Column('phone', Text(), table=<owner>), Column('email', Text(), table=<owner>), schema=None)

In [4]:
pets = db.Table(
    'pet', metadata,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('name', Text),
    Column('type', Text),
    Column('owner_id', ForeignKey('owner.id'))
)
pets

Table('pet', MetaData(), Column('id', Integer(), table=<pet>, primary_key=True, nullable=False), Column('name', Text(), table=<pet>), Column('type', Text(), table=<pet>), Column('owner_id', Integer(), ForeignKey('owner.id'), table=<pet>), schema=None)

In [5]:
veterinarians = db.Table(
    'veterinarian', metadata,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('first_name', Text),
    Column('last_name', Text)
)
veterinarians

Table('veterinarian', MetaData(), Column('id', Integer(), table=<veterinarian>, primary_key=True, nullable=False), Column('first_name', Text(), table=<veterinarian>), Column('last_name', Text(), table=<veterinarian>), schema=None)

In [6]:
procedures = db.Table(
    'procedure', metadata,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('pet_id', ForeignKey('pet.id')),
    Column('veterinarian', ForeignKey('veterinarian.id'))
)
procedures

Table('procedure', MetaData(), Column('id', Integer(), table=<procedure>, primary_key=True, nullable=False), Column('pet_id', Integer(), ForeignKey('pet.id'), table=<procedure>), Column('veterinarian', Integer(), ForeignKey('veterinarian.id'), table=<procedure>), schema=None)

In [8]:
metadata.create_all(engine)

In [9]:
insertion = owners.insert().values([
    {'first_name': 'Alice', 'last_name': 'Smith', 'phone': '123456', 'email': 'alice.smith@email.com'},
    {'first_name': 'Bob', 'last_name': 'Johnson', 'phone': '789012', 'email': 'bob.johnson@email.com'},
    {'first_name': 'Charlie', 'last_name': 'Brown', 'phone': '345678', 'email': 'charlie.brown@email.com'},
    {'first_name': 'David', 'last_name': 'Wilson', 'phone': '901234', 'email': 'david.wilson@email.com'},
    {'first_name': 'Eva', 'last_name': 'Miller', 'phone': '567890', 'email': 'eva.miller@email.com'},
    {'first_name': 'Frank', 'last_name': 'Jones', 'phone': '234567', 'email': 'frank.jones@email.com'},
    {'first_name': 'Grace', 'last_name': 'Taylor', 'phone': '890123', 'email': 'grace.taylor@email.com'},
    {'first_name': 'Harry', 'last_name': 'Anderson', 'phone': '456789', 'email': 'harry.anderson@email.com'},
    {'first_name': 'Ivy', 'last_name': 'Clark', 'phone': '012345', 'email': 'ivy.clark@email.com'},
    {'first_name': 'Jack', 'last_name': 'Davis', 'phone': '678901', 'email': 'jack.davis@email.com'}
])
conn.execute(insertion)
conn.commit()

In [14]:
select_owners = conn.execute(owners.select())
select_owners.fetchall()

[(1, 'Alice', 'Smith', '123456', 'alice.smith@email.com'),
 (2, 'Bob', 'Johnson', '789012', 'bob.johnson@email.com'),
 (3, 'Charlie', 'Brown', '345678', 'charlie.brown@email.com'),
 (4, 'David', 'Wilson', '901234', 'david.wilson@email.com'),
 (5, 'Eva', 'Miller', '567890', 'eva.miller@email.com'),
 (6, 'Frank', 'Jones', '234567', 'frank.jones@email.com'),
 (7, 'Grace', 'Taylor', '890123', 'grace.taylor@email.com'),
 (8, 'Harry', 'Anderson', '456789', 'harry.anderson@email.com'),
 (9, 'Ivy', 'Clark', '012345', 'ivy.clark@email.com'),
 (10, 'Jack', 'Davis', '678901', 'jack.davis@email.com')]

In [15]:
insertion = pets.insert().values([
    {'name': 'Buddy', 'type': 'dog', 'owner_id': 2},
    {'name': 'Whiskers', 'type': 'cat', 'owner_id': 4},
    {'name': 'Rocky', 'type': 'dog', 'owner_id': 1},
    {'name': 'Turtle', 'type': 'turtle', 'owner_id': 6},
    {'name': 'Mittens', 'type': 'cat', 'owner_id': 3},
    {'name': 'Charlie', 'type': 'dog', 'owner_id': 5},
    {'name': 'Fluffy', 'type': 'cat', 'owner_id': 7},
    {'name': 'Spike', 'type': 'dog', 'owner_id': 8},
    {'name': 'Tigger', 'type': 'cat', 'owner_id': 9},
    {'name': 'baby pig', 'type': 'piggy', 'owner_id': 10},
    {'name': 'Max', 'type': 'dog', 'owner_id': 1},
    {'name': 'Luna', 'type': 'cat', 'owner_id': 2},
    {'name': 'Oscar', 'type': 'dog', 'owner_id': 4},
    {'name': 'Gizmo', 'type': 'turtle', 'owner_id': 3},
    {'name': 'Milo', 'type': 'cat', 'owner_id': 5}
])
conn.execute(insertion)
conn.commit()

In [16]:
select_pets = conn.execute(pets.select())
select_pets.fetchall()

[(1, 'Buddy', 'dog', 2),
 (2, 'Whiskers', 'cat', 4),
 (3, 'Rocky', 'dog', 1),
 (4, 'Turtle', 'turtle', 6),
 (5, 'Mittens', 'cat', 3),
 (6, 'Charlie', 'dog', 5),
 (7, 'Fluffy', 'cat', 7),
 (8, 'Spike', 'dog', 8),
 (9, 'Tigger', 'cat', 9),
 (10, 'baby pig', 'piggy', 10),
 (11, 'Max', 'dog', 1),
 (12, 'Luna', 'cat', 2),
 (13, 'Oscar', 'dog', 4),
 (14, 'Gizmo', 'turtle', 3),
 (15, 'Milo', 'cat', 5)]

In [17]:
insertion = veterinarians.insert().values([
    {'first_name': 'Jane', 'last_name': 'Smith'},
    {'first_name': 'Robert', 'last_name': 'Johnson'},
    {'first_name': 'Emily', 'last_name': 'Williams'},
    {'first_name': 'Michael', 'last_name': 'Jones'}
])
conn.execute(insertion)
conn.commit()

In [18]:
select_veterinarians = conn.execute(veterinarians.select())
select_veterinarians.fetchall()

[(1, 'Jane', 'Smith'),
 (2, 'Robert', 'Johnson'),
 (3, 'Emily', 'Williams'),
 (4, 'Michael', 'Jones')]

In [20]:
insertion = procedures.insert().values([
    {'pet_id': 8, 'veterinarian': 4},
    {'pet_id': 4, 'veterinarian': 4},
    {'pet_id': 11, 'veterinarian': 3},
    {'pet_id': 1, 'veterinarian': 4},
    {'pet_id': 7, 'veterinarian': 3},
    {'pet_id': 9, 'veterinarian': 1},
    {'pet_id': 14, 'veterinarian': 2},
    {'pet_id': 2, 'veterinarian': 2},
    {'pet_id': 5, 'veterinarian': 1},
    {'pet_id': 10, 'veterinarian': 2},
    {'pet_id': 3, 'veterinarian': 3},
    {'pet_id': 13, 'veterinarian': 1},
    {'pet_id': 15, 'veterinarian': 3},
    {'pet_id': 12, 'veterinarian': 4},
    {'pet_id': 6, 'veterinarian': 2},
    {'pet_id': 1, 'veterinarian': 1},
    {'pet_id': 2, 'veterinarian': 1},
    {'pet_id': 3, 'veterinarian': 2},
    {'pet_id': 5, 'veterinarian': 4},
    {'pet_id': 4, 'veterinarian': 3}
])
conn.execute(insertion)
conn.commit()

In [21]:
select_procedures = conn.execute(procedures.select())
select_procedures.fetchall()

[(1, 8, 4),
 (2, 4, 4),
 (3, 11, 3),
 (4, 1, 4),
 (5, 7, 3),
 (6, 9, 1),
 (7, 14, 2),
 (8, 2, 2),
 (9, 5, 1),
 (10, 10, 2),
 (11, 3, 3),
 (12, 13, 1),
 (13, 15, 3),
 (14, 12, 4),
 (15, 6, 2),
 (16, 1, 1),
 (17, 2, 1),
 (18, 3, 2),
 (19, 5, 4),
 (20, 4, 3)]

In [28]:
select_people = conn.execute(db.select(owners.c.first_name, owners.c.last_name).union(db.select(veterinarians.c.first_name, veterinarians.c.last_name)))
people = select_people.fetchall()
print(f'All people: {people}')
print(f'Total length of all people (10 owners + 4 veterinarians): {len(people)}')

All people: [('Alice', 'Smith'), ('Bob', 'Johnson'), ('Charlie', 'Brown'), ('David', 'Wilson'), ('Emily', 'Williams'), ('Eva', 'Miller'), ('Frank', 'Jones'), ('Grace', 'Taylor'), ('Harry', 'Anderson'), ('Ivy', 'Clark'), ('Jack', 'Davis'), ('Jane', 'Smith'), ('Michael', 'Jones'), ('Robert', 'Johnson')]
Total length of all people (10 owners + 4 veterinarians): 14

In [37]:
# Select statement with group and having
# Count all dogs and cats
cats_and_dogs = conn.execute(db.select(pets.c.type, func.count(pets.c.id)).group_by(pets.c.type).having(pets.c.type.in_(['cat', 'dog']))).all()
print(cats_and_dogs)

[('cat', 6), ('dog', 6)]

In [45]:
# Inner join
select_join = conn.execute(db.select(pets.c.name, pets.c.type, owners.c.first_name, owners.c.last_name).select_from(pets.join(owners, pets.c.owner_id == owners.c.id))).all()
print(select_join)

[('Buddy', 'dog', 'Bob', 'Johnson'), ('Whiskers', 'cat', 'David', 'Wilson'), ('Rocky', 'dog', 'Alice', 'Smith'), ('Turtle', 'turtle', 'Frank', 'Jones'), ('Mittens', 'cat', 'Charlie', 'Brown'), ('Charlie', 'dog', 'Eva', 'Miller'), ('Fluffy', 'cat', 'Grace', 'Taylor'), ('Spike', 'dog', 'Harry', 'Anderson'), ('Tigger', 'cat', 'Ivy', 'Clark'), ('baby pig', 'piggy', 'Jack', 'Davis'), ('Max', 'dog', 'Alice', 'Smith'), ('Luna', 'cat', 'Bob', 'Johnson'), ('Oscar', 'dog', 'David', 'Wilson'), ('Gizmo', 'turtle', 'Charlie', 'Brown'), ('Milo', 'cat', 'Eva', 'Miller')]

In [43]:
# Insert pets with owners id not in db to test left join
insertion = pets.insert().values([
    {'name': 'Sparky', 'type': 'dog', 'owner_id': 15},
    {'name': 'Eya', 'type': 'cat', 'owner_id': 16},
])
conn.execute(insertion)
conn.commit()

In [44]:
# Left join on pets
select_join = conn.execute(db.select(pets.c.name, pets.c.type, owners.c.first_name, owners.c.last_name).select_from(pets.outerjoin(owners, pets.c.owner_id == owners.c.id))).all()
print(select_join)

[('Buddy', 'dog', 'Bob', 'Johnson'), ('Whiskers', 'cat', 'David', 'Wilson'), ('Rocky', 'dog', 'Alice', 'Smith'), ('Turtle', 'turtle', 'Frank', 'Jones'), ('Mittens', 'cat', 'Charlie', 'Brown'), ('Charlie', 'dog', 'Eva', 'Miller'), ('Fluffy', 'cat', 'Grace', 'Taylor'), ('Spike', 'dog', 'Harry', 'Anderson'), ('Tigger', 'cat', 'Ivy', 'Clark'), ('baby pig', 'piggy', 'Jack', 'Davis'), ('Max', 'dog', 'Alice', 'Smith'), ('Luna', 'cat', 'Bob', 'Johnson'), ('Oscar', 'dog', 'David', 'Wilson'), ('Gizmo', 'turtle', 'Charlie', 'Brown'), ('Milo', 'cat', 'Eva', 'Miller'), ('Sparky', 'dog', None, None), ('Eya', 'cat', None, None)]

In [63]:
# Using subquery
subquery = db.select(owners.c.id).where(owners.c.first_name.in_(['Bob'])).scalar_subquery()
bobs_animals = conn.execute(db.select(pets.c.name, pets.c.type, owners.c.first_name, owners.c.last_name).select_from(pets.join(owners, pets.c.owner_id == owners.c.id)).filter(pets.c.owner_id.in_(subquery))).all()
print(bobs_animals)

[('Buddy', 'dog', 'Bob', 'Johnson'), ('Luna', 'cat', 'Bob', 'Johnson')]